body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0 200px;
    height: 60px;
    background-color: #1F2937;
    align-items: center;
    justify-content: flex-start;
}

.content {
    background-color: #FFFFFF;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.footer {
    padding: 0 200px;
    height: 60px;
    background-color: #1F2937;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}



ul {
    padding: 0;
    list-style: none;
    color: #FFFFFF;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.first-section {
    padding: 0 200px;
    background-color: #1F2937;
    flex: 1;
}

.second-section {
    padding: 0 200px;
    flex: 1;
}

.third-section {
    padding: 0 200px;
    background-color: #E5E7EB;
    flex: 1;
}

.fourth-section {
    padding: 0 200px;
    flex: 1;
}